@charset "UTF-8";

@font-face {
  font-family: "Manrope";
  src: url("/Font/Manrope-ExtraBold.woff2") format("woff2");
  font-style: normal;
  font-weight: 800; }
@font-face {
  font-family: "Manrope";
  src: url("/Font/Manrope-Bold.woff2") format("woff2");
  font-style: normal;
  font-weight: 700; }
@font-face {
  font-family: "Manrope";
  src: url("/Font/Manrope-SemiBold.woff2") format("woff2");
  font-style: normal;
  font-weight: 600; }
@font-face {
  font-family: "Manrope";
  src: url("/Font/Manrope-Medium.woff2") format("woff2");
  font-style: normal;
  font-weight: 500; }
@font-face {
  font-family: "Manrope";
  src: url("/Font/Manrope-Regular.woff2") format("woff2");
  font-style: normal;
  font-weight: 400; }

/* body, html {
  font-family: 'Manrope VF', Manrope, sans-serif;
  font-weight: 500;
  font-variation-settings: 'wght' 500;
  font-variation-ligatures: normal;
  font-feature-settings:'calt', 'liga'; }
*,*:before,*:after {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased; } */