.timeline-container {
    margin: 0 0 0 15px;
    @media (width >=theme(--breakpoint-sm)) {
        margin: 0 0 0 30px;
    }


    & > ul {
        position: relative;
        list-style: none;
        padding: 0;
        margin: 0;

        &:before {
            content: "";
            position: absolute;
            margin-top: 30px;
            left: -20px;
            height: 100%;
            width: 4px;
            background: linear-gradient(180deg, var(--color-border) calc(100% - 300px), transparent 100%);
            /* border: 2px solid #aaa; */
        }
    }
}

.box{
    position: relative;
    &:before {
        content: "";
        position: absolute;
        display: block;
        top: 30px;
        left: calc(-18px - 15px + 4px + 1px); /* width - info padding + line width + border*/
        width: 18px;
        height: 18px;
        border: 1px solid var(--color-background);
        outline: 12px solid var(--color-accent);
        background: var(--color-chart-4);
        border-radius: 100%;
    }
}

.date {
    span {
        font-size: 0.75rem;
        color: var(--color-muted-foreground);

        &:first-child {
            &:after {
                content: "-";
                margin: 0 8px;
            }
        }

        &:last-child {
            top: 100%;
            left: -70px;
        }
    }
}

.info {
    padding: 10px 30px;
    background: var(--card);
    position: relative;
    letter-spacing: 2px;
    container-type: inline-size;
    border-radius: 5px;
    box-sizing: border-box;
    margin: 10px 0;
    border: 1px solid var(--color-border);
    /* box-shadow: 0px 0px 8px var(--color-background); */

    @media (width >= theme(--breakpoint-sm)) {

        margin: 15px 0 15px 30px;

        &:before { /*triangle*/
            content: "";
            position: absolute;
            top: 30px;
            left: -28px;
            z-index: 1;
            border: solid 15px transparent;
            border-right-color: var(--card);
        }
    }

    
    
    .header{
        display: flex; 
        flex-direction: column;
        margin-bottom: 1em;

        @container (width >= 30em) {
            flex-direction: row;

            .sub-title {
                border-left: 1px solid var(--color-foreground);
                padding-left: 1em;
            }
        }

        .title {
            text-transform: uppercase;
            font-weight: bold;
            padding-right: 1em;
        }

        
    }

    
}