* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: background-color .2s, color .2s;
  transition: background-color .2s, color .2s;
  overflow-x: hidden;
}

html, body {
  margin: 0;
}

::-moz-selection {
  color: whitesmoke !important;
  background: #212121 !important;
}

::selection {
  color: whitesmoke !important;
  background: #212121 !important;
}

body {
  background-color: #212121;
}

#theme-btn .fa-moon, #theme-btn .fa-sun {
  color: #F5F6F7;
}

.corner-ribbon {
  width: 200px;
  background-color: #e43;
  position: absolute;
  top: 25px;
  left: -50px;
  text-align: center;
  line-height: 50px;
  letter-spacing: 1px;
  color: #f0f0f0;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  z-index: 100;
}

.corner-ribbon.sticky {
  position: fixed;
}

.corner-ribbon.shadow {
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}

.corner-ribbon.bottom-right {
  top: auto;
  right: -50px;
  bottom: 25px;
  left: auto;
  transform: rotate(-4deg);
  -webkit-transform: rotate(-45deg);
}

.hex-container {
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}

.hexagon {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 75%;
  height: 0;
  padding-bottom: 86.60254%;
  overflow: hidden;
  -webkit-transform: rotate(-60deg) skewY(30deg) translateZ(0);
  transform: rotate(-60deg) skewY(30deg) translateZ(0);
}

.hexagon::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(/images/me.jpg);
  background-position: -13px;
  background-size: 173px;
  -webkit-transform: skewY(-30deg) rotate(60deg);
  transform: skewY(-30deg) rotate(60deg);
}

.hamburger-menu {
  display: block;
  width: 30px;
  height: 30px;
  position: relative;
  margin-left: 0;
  cursor: pointer;
  z-index: 100;
  overflow: visible;
  margin-top: 4px;
  margin-left: auto;
}

.hamburger-menu span {
  display: block;
  position: absolute;
  height: .2em;
  width: 100%;
  background: #F5F6F7;
  border-radius: 5px;
  opacity: 1;
  right: 0;
  left: 0;
  top: 0;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.hamburger-menu span:nth-child(2), .hamburger-menu span:nth-child(3) {
  top: .5em;
}

.hamburger-menu span:nth-child(4) {
  top: 1em;
}

.hamburger-menu.open span:nth-child(1) {
  top: 8px;
  left: 50%;
  width: 0;
  opacity: 0;
}

.hamburger-menu.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.hamburger-menu.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.hamburger-menu.open span:nth-child(4) {
  top: 8px;
  left: 50%;
  width: 0;
  opacity: 0;
}

@font-face {
  font-family: 'MyWebFont';
  src: url("/assets/Font/Manrope-Regular.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
}

body, html {
  font-family: 'Manrope', 'Roboto', 'Ariel', sans-serif;
  font-weight: 400;
  font-variation-settings: 'wght' 400;
  font-variation-ligatures: normal;
  -webkit-font-feature-settings: 'calt', 'liga';
          font-feature-settings: 'calt', 'liga';
}

*, *:before, *:after {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}
/*# sourceMappingURL=dark-theme.css.map */