/*
main red - #D13B46
dark red - #BC3040
main black - #2A2626
*/

::selection {
    color: rgb(245, 245, 245) !important;
    background: rgb(33, 33, 33) !important;
}

body {
    overflow-x: hidden;
}

.nav-no-scroll * img.logoimg {
    max-width: 40px;
    margin-top: -13px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.nav-no-scroll {
    font-size: 17px;
    background-color: rgba(250, 250, 250, 0.2);
    border-color: #E6E4E4;
    -webkit-transition: all 1s;
    transition: all 1s;
}

.nav-scrolled * a.nav-link {
    font-size: 14px;
    padding-left: 5px;
    padding-right: 5px;
}
@media handheld, (max-width: 767px) { 
    .nav-scrolled * a.nav-link {
        font-size: 17px;
        padding-left: 5px;
        padding-right: 5px;
    }
}

.navbar-default div.navbar-collapse
{
    border-top:none;
    box-shadow:none;
}

/*
.nav-scrolled * a:hover {
   color: #D13B46 !important;
}
*/

.nav-scrolled * img.logoimg {
    margin-top: 11px;
    margin-left: 15px;
    max-width: 0px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.nav-scrolled {
    background-color: transparent;
    border-bottom: none;
    -webkit-transition: all 1s;
    transition: all 1s;
}

.menu-half {
    display: inline-block !important;
}

ul.nav a {
    font-family: 'Product Sans';
    color: #AFA9AA !important;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
}

.thumb1 {
    /*   background: url(images/backtest2.jpg) 50% 50% no-repeat;*/
    background-color: #212121;
    /* 50% 50% centers image in div */
    width: 100vw;
    height: 100vh;
}

#welcome {
    font-family: 'Product Sans';
    color: #E1E4F0;
    display: block;
    text-align: center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
/*
    padding-top: calc(50vh - 150px);
    margin-left: calc(50% - 225px);
    vertical-align: middle;
*/
}

#welcome h1 {
    font-size: 60px;
}

#welcome p {
    font-size: 20px;
}

#welcome hr {
    align-self: center;
    height: 4px;
    background: #D13B46;
    border: 0px;
    width: 20%;
}

.read-more {
    font-family: 'Product Sans';
    color: #E1E4F0;
    font-size: 20px;
}

a.text-link {
    padding-bottom: 5px;
    transition: .6s;
    background-position: top left;
    background-image: url(images/linkbg.png);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
    display: inline-block;
    white-space: nowrap;
}

a.text-link:before {
    position: absolute;
    content: '';
    background: #4A90E2;
    left: 0;
    right: 0;
    bottom: 3px;
    height: 2px;
    transition: .6s .1s;
}

a.text-link:hover {
    transition: .6s .0s;
    background-position: bottom right;
}

a.text-link:hover:before {
    transition: .6s;
    transform: translateY(-100%) scaleY(0);
    opacity: 0;
}

a.nav-link {
    transition: .6s;
    background-position: top left;
    background-image: url(images/linkbg.png);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
    display: inline-block;
    white-space: nowrap;
}

a.nav-link:hover {
    transition: .6s .0s;
    background-position: bottom right;
}

a.nav-link:hover:before {
    transition: .0s;
    transform: translateY(-100%) scaleY(0);
    opacity: 0;
}

#blueprints {
    height: 1600px;
    width: 100vw;
    background-color: #3B3535;
}

#side-buttons {
    position: fixed;
    top: calc(50% - 75px);
}

#side-facebook,
#side-twitter,
#side-google {
    position: relative;
    max-height: 50px;
    left: -148px;
    -webkit-transition: left 1.0s;
    transition: left 1.0s;
}

#side-facebook:hover,
#side-twitter:hover,
#side-google:hover {
    left: 0px;
    -webkit-transition: left 0.5s;
    transition: left 0.5s;
}

.corner-ribbon {
    width: 200px;
    background: #e43;
    position: absolute;
    top: 25px;
    left: -50px;
    text-align: center;
    line-height: 50px;
    letter-spacing: 1px;
    color: #f0f0f0;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.corner-ribbon.sticky {
    position: fixed;
}

.corner-ribbon.shadow {
    box-shadow: 0 0 3px rgba(0, 0, 0, .3);
}

.corner-ribbon.bottom-right {
    top: auto;
    right: -50px;
    bottom: 25px;
    left: auto;
    transform: rotate(-4deg);
    -webkit-transform: rotate(-45deg);
}

.corner-ribbon.red {
    background: #1b9;
}

.hex-container {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}

.hexagon {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 75%;
    height: 0;
    padding-bottom: 86.60254%;
    overflow: hidden;
    -webkit-transform: rotate(-60deg) skewY(30deg) translateZ(0);
    transform: rotate(-60deg) skewY(30deg) translateZ(0);
}

.hexagon::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(http://bit.ly/1UcSDkz);
    background-position: -100px;
    background-size: 300px;
    -webkit-transform: skewY(-30deg) rotate(60deg);
    transform: skewY(-30deg) rotate(60deg);
}

.links-bar{
  position: fixed;
    min-width: 200px;
  width: 20%;
  height: 48px;
  top: 90vh;
  left: 50%;
  transform: translateX(-50%);
  border-bottom: 1px solid white;
  overflow: hidden;
}

.ico1{
  position: absolute;
  display: inline;
  top: 24px;
  width: 48px;
  left: 15%;
  transform: translateX(-50%);
}

.ico1:hover, .ico2:hover, .ico3:hover{
  top: 0px;
}

.ico1, .ico2, .ico3{
  -webkit-transition: all 200ms cubic-bezier(.75, 0, .31, 1);
  -moz-transition: all 200ms cubic-bezier(.75, 0, .31, 1);
  -ms-transition: all 200ms cubic-bezier(.75, 0, .31, 1);
  -o-transition: all 200ms cubic-bezier(.75, 0, .31, 1);
  transition: all 200ms cubic-bezier(.75, 0, .31, 1);
}

.ico2{
  position: absolute;
  display: inline;
  top: 24px;
  width: 48px;
  left: 50%;
  transform: translateX(-50%);
}

.ico3{
  position: absolute;
  display: inline;
  top: 24px;
  width: 48px;
  left: 85%;
  transform: translateX(-50%);
}
