@use "font.scss";
@use "typewriter.scss";

@font-face {
    font-family: 'MyWebFont';
    src: url('/assets/Font/Manrope-Regular.woff2') format('woff2');
    font-style: normal;
    font-weight: 400;
}

body,
html {
    font-family: 'Manrope', 'Roboto', 'Ariel', sans-serif;
    font-weight: 400;
    font-variation-settings: 'wght' 400;
    font-variation-ligatures: normal;
    font-feature-settings: 'calt', 'liga';
}

*,
*:before,
*:after {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
}
