.caret { 
    border-right: 0.125em solid var(--foreground);
    animation: blink-caret 0.75s step-end infinite;
}

/* The typewriter cursor effect */
@keyframes blink-caret {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: initial;
    }
}