@import "./_variables.scss";

//Brand Colors
$primary: $br_primary;
$primary_dark: $br_primary_dark;

$secondary: $br_secondary;
$secondary_dark: $br_secondary_dark;

$tertiary: $br_tertiary;
$tertiary_dark: $br_tertiary_dark;

// Layout Colors
$bg_col: $dt_bg;

$primary_layout: $primary;
$secondary_layout: $dt_secondary;
$text_col: $dt_text;
$subtext_col: $dt_subtext;


// Denotive Colors
$error_col: $error_col;
$success_col: $success_col;
$disabled_col: $dt_disabled_col;

// Interactive Colors
$int_col: $int_col;
$int_col_p1: $int_col_dtp1;
$int_col_p2: $int_col_dtp2;
