*{ 
    box-sizing: border-box;
    transition: background-color .2s, color .2s; //everything will transition in .2s from one color theme to another. that has a background color or color already applied.
    overflow-x: hidden;
}

html, body{
    margin: 0;
}

::selection {
    color: rgb(245, 245, 245) !important;
    background: rgb(33, 33, 33) !important;
}

body{
    background-color: $bg_col;
}


//===== TEMP ======
#theme-btn{
    .fa-moon, .fa-sun{
        color: $text_col;
    }
}

//================

@import "./Components/_corner-ribon.scss";
@import "./Components/_button.scss";
@import "./Components/_hex_portrait.scss";
@import "./Components/_navbar.scss";
@import "./Components/_fonts.scss";
