*{ 
    box-sizing: border-box;
    transition: background-color .2s, color .2s; //everything will transition in .2s from one color theme to another. that has a background color or color already applied.
    overflow-x: hidden;
}

html, body{
    margin: 0;
}

::selection {
    color: rgb(245, 245, 245) !important;
    background: rgb(33, 33, 33) !important;
}

body{
    background-color: $bg_col;
}

#theme-btn{
    .fa-moon, .fa-sun{
        color: $text_col;
    }
}

.hamburger-menu{
    display: block;
    width: 30px;
    height: 30px;
    position: relative;
    margin-left: 0;
    cursor: pointer;
    z-index: 100;
    overflow: visible;
    margin-top: 4px;
    margin-left: auto;

    span{
        display: block;
        position: absolute;
        height: .2em;
        width: 100%;
        background: $text_col;
        border-radius: 5px;
        opacity: 1;
        right: 0;
        left: 0;
        top: 0;
        transition: .2s ease-in-out;

        &:nth-child(2), &:nth-child(3){
            top: .5em;
            // width: 80%;
        }

        &:nth-child(4){
            top: 1em;
        }
    }

    &.open{
        span:nth-child(1){
            top: 8px;
            left: 50%;
            width: 0;
            opacity: 0;
        }

        span:nth-child(2){
            transform: rotate(45deg);
        }
        span:nth-child(3){
            transform: rotate(-45deg);
        }

        span:nth-child(4){
            top: 8px;
            left: 50%;
            width: 0;
            opacity: 0;
        }
    }
}

@import "./Components/_corner-ribon.scss";
@import "./Components/_button.scss";